@model IEnumerable<WebAPIDemo.Web.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees List</h2>

<p>
	<a class="btn btn-primary" href="@Url.Action("AddorEditEmployee","Employee")"> <i class="fa fa-plus-circle">   Create New Employee</i></a>
</p>
<table class="table table-striped">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Age)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Position)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Salary)
			</th>
			<th>
                Actions
            </th>
		</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
		<td>
			<a href="@Url.Action("AddorEditEmployee","Employee", new { id = item.EmployeeID })" class="btn btn-primary"><i class="fa fa-pencil"> Edit</i></a>
			<a onclick="DeleteEmployee(@item.EmployeeID)" class="btn btn-danger" style="background-color:#FF0000"><i class="fa fa-trash"> Delete</i></a>
		    
        </td>
    </tr>
}

</table>

@section scripts{
    
	<script>
        $(function myfunction() {
            var message = '@TempData["message"]';
            if (message != '') {
                alertify.success(message);
            }
        });
        function DeleteEmployee(Id) {
			alertify.confirm("Delete Operation","Are you sure you want to Delete this Employee?",
				function () {
                    window.location.href = '@Url.Action("DeleteEmployee", "Employee")/' + Id;
				},
				null);}
	</script>
    }